.painel {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* PARTE 1 - TOPO */ 

.logo{
    display: flex;
    gap: 10px;
}

.molde{
    display: grid;
    place-items: center;
}

.img-logo{
    height: 100px;
    padding-right: 20px;
    padding-top: 20px;
}

/* PARTE 2 - CENTRO */

.item{
    height: 50px;
}

.botao-item{
    background-color: #000000;
    color: white;
    font-size: 20px;
    box-shadow: none;
}

.material-icons {
  font-size: 20px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.botao-principal {
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: #000000;
}

.conteudo-cascata {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.conteudo-cascata a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.conteudo-cascata a:hover {background-color: rgb(36, 36, 36)}

.dropdown:focus-within .conteudo-cascata {
  display: block;
}

/* area de testes */